/* ini css*/

.main-title {
    text-align: center;
}

main {
    display: flex;
    justify-content: space-around;
}

.main-content {
    border: 1px solid;
    flex: 1;
    padding: 12px;
}

.input-title {
    font-size: 1px solid;
    font-weight: bold;
}

form {
    background-color: aliceblue;
    padding: 12px;
    border-radius: 8px;
}

.button {
    height: 32px;
    border-radius: 8px;
}

.submit {
    background-color: #ed09a8;
    border: 2px solid pink;
}

.reset {
    background-color: white;
    border: 2px solid pink;
}

.result-section {
    text-align: center;
    background-color: aliceblue;
    border-radius: 8px;
    padding: 12px;
}